# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Migrations
*/migrations/*
!*/migrations/__init__.py

# System files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
